### Numpy

In [ ]:
# 1.Write a NumPy program to multiply two given arrays of same size element-by-element.
import numpy as np
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 7, 8, 9, 10])
multiplied_array = np.multiply(arr1, arr2)
print(multiplied_array)

[ 6 14 24 36 50]

In [ ]:
# 2. Write a NumPy program to find the missing data in a given array.
import numpy as np

arr = np.array([1, 2, 3, np.nan, 5, 6, 7, np.nan, 9, 10])

missing_data = np.where(np.isnan(arr))
print("missing data:", missing_data)

missing data: (array([3, 7]),)

In [ ]:
# 3. Write a NumPy program to test whether each element of a 1-D array is also present in a second array.
arr1 = np.array([7,2,5,2,5,6])
arr2 = np.array([7,2,5,2,5,6])

np.array_equal(arr1,arr2)

True

In [ ]:
# 4. Write a NumPy program to save a NumPy array to a text file.
with open("file1.txt","w") as file1:
    arr1 = np.array(["1","2","3","4","5"])
    for i in arr1:
        file1.write(i)
        file1.write(" ")

In [ ]:
# 5. Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.

start = 2.5
end = 6.5
num_elements = 30
array = np.linspace(start, end, num_elements)
print(array)

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

### Pandas

In [32]:
# 1. Write a Pandas program to convert Series of lists to one Series.
import pandas as pd
s = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])
series = s.apply(pd.Series).stack()
print(series)

0  0       Red
   1     Green
   2     White
1  0       Red
   1     Black
2  0    Yellow
dtype: object

In [ ]:
# 2. Write a Pandas program to create a subset of a given series based on value and condition.
s = pd.Series([1, 8, 4, 5, 7, 18, 2, 0, 6, 19])

value = 6
condition = "<"
subset = s[s < value]
print(subset)

0    1
2    4
3    5
6    2
7    0
dtype: int64

In [ ]:
# 3. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
def replace_others(series):
  series = pd.Series(["red", "green", "red", "blue", "red", "black", "yellow"])
  mode = series.mode().iloc[0]
  return series.where(series == mode, "Other")

modified_series = replace_others(series)
print(modified_series)

0      red
1    Other
2      red
3    Other
4      red
5    Other
6    Other
dtype: object

In [ ]:
# 4. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
s = pd.Series([1, 5, 8, 10, 15, 20, 23])
multiples_positions = np.where(s % 5 == 0)
print(f"{multiples_positions[0]}")

[1 3 4 5]

In [ ]:
# 5. Write a Pandas program to calculate the number of characters in each word in a given series.
s = pd.Series(["Hello", "This is a Mahmud", "SRM"])
word_lengths = s.str.len()
print(word_lengths)

0     5
1    16
2     3
dtype: int64

In [33]:
# 6. Write a Pandas program to convert year-month string to dates adding a specified day of the month.
year_month_strings = ["2024-01", "2023-12", "2022-11"]
day_of_month = 15
def convert_to_date(date_str):
  date_with_day = f"{date_str}-{day_of_month}"
  return pd.to_datetime(date_with_day, format="%Y-%m-%d")
dates = pd.Series(year_month_strings).apply(convert_to_date)
print(dates)

0   2024-01-15
1   2023-12-15
2   2022-11-15
dtype: datetime64[ns]

In [34]:
# 7. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
data = {
    "Name": ["Shannu", "Maya", "Bhavya"],
    "Age": [19, 1, 20],
    "City": ["Guntur", "Dubai", "USA"],
}
df = pd.DataFrame(data)
print(df)

     Name  Age    City
0  Shannu   19  Guntur
1    Maya    1   Dubai
2  Bhavya   20     USA

In [37]:
# 8. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
df = pd.DataFrame({
  "Student ID": [1234, 5678, 9012, 9012, 5678],
  "Name": ["John Smith", "Jane Doe", "Michael Lee", "Michael Lee", "Jane Doe"],
  "Subject": ["Mathematics", "Physics", "Biology", "Chemistry", "Physics"],
  "Year": [2023, 2024, 2023, 2023, 2023],
  "Attempt Number": [1, 3, 2, 1, 4],
  "Score": [65, 88, 72, 95, 58]
})
filtered_df = df[df["Attempt Number"] > 2]
print(filtered_df)

   Student ID      Name  Subject  Year  Attempt Number  Score
1        5678  Jane Doe  Physics  2024               3     88
4        5678  Jane Doe  Physics  2023               4     58

In [47]:
# 9. Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
exam_data = {'name': ['Michael', 'Andy', 'Dwight', 'Jim', 'Pam'],
            'score': [85, 77, 92, 88, 95]}
df = pd.DataFrame(exam_data)
def append_and_restore(df):
   k = {'name': 'Oscar', 'score': 81}
   new_df = df.append(k, ignore_index=True)
   original_df = new_df.iloc[:-1, :]
   return original_df
restored_df = append_and_restore(df.copy())
print(restored_df)

      name  score
0  Michael     85
1     Andy     77
2   Dwight     92
3      Jim     88
4      Pam     95

<ipython-input-47-7a82673e9426>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = df.append(k, ignore_index=True)

In [43]:
# 10. Write a Pandas program to sort the DataFrame first by 'name'in descending order, then by'score' in ascending order.
exam_data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
             'Score': [85, 78, 92, 80, 95]}
df = pd.DataFrame(exam_data)
sorted_df = df.sort_values(by=['Name', 'Score'], ascending=[False, True])
print(sorted_df)

      Name  Score
4      Eve     95
3    David     80
2  Charlie     92
1      Bob     78
0    Alice     85

In [45]:
# 11. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
data = {'Name': ['Shannu', 'Mahmud', 'Buddi', 'Maya', 'Bhavya'],
        'Score': [85, 78, 92, 80, 95],
        'qualify': ['yes', 'no', 'yes', 'no', 'yes']}
df = pd.DataFrame(data)
df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})
print(df)

     Name  Score  qualify
0  Shannu     85     True
1  Mahmud     78    False
2   Buddi     92     True
3    Maya     80    False
4  Bhavya     95     True

In [46]:
# 12. Write a Pandas program to remove infinite values from a given DataFrame.
df = pd.DataFrame({'col1': [10, np.inf, 30, -np.inf, 50],
                   'col2': [np.inf, 25, 40, np.nan, 60]})
df_filtered = df.replace([np.inf, -np.inf], np.nan).dropna()
print(df_filtered)

   col1  col2
2  30.0  40.0
4  50.0  60.0